* {
  /*border: 0px solid red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
}

body {
  background-color: yellow;
  color: black;
  rgb(247, 217, 255) display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*.wrapper {
  background-color: white;
  color: #purple;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #b4bbfc;
  color: #black;
  /*rgb(247, 217, 255);*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: black;
}

#video {
  border: 1px solid black;
  box-shadow: 6px 6px 10px blue;
  width: 320px;
  height: 240px;
  /* help with camera reversal */
  transform: rotateY(180deg);
}

#photo {
  border: 6px solid yellow;
  box-shadow: 8px 8px 8px green;
  width: 320px;
  height: 240px;
}

#canvasPhoto {
  display: none;
}

.camera {
  /* width: 340px; */
  display: inline-block;
}

.output {
  /* width: 340px; */
  display: inline-block;
  vertical-align: top;
}

/*button, #downloadButton{
  background-color: rgba(240, 0, 230, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
}*/
/*#startButton {
  background-image: url('/images/button-takephoto-blue.png');
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 102px;
}


/*display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 102px;
}*/
section {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  width: 800px;
}

#cameraContentarea {
  background-color: pink;
  font-size: 22px;
  font-style: bold;
  text-align: center;
}

/*#startMixingButton {
    background-image: url('/images/button-startmixing-pink.png');
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*bottom: 102px;*/
}

/* background-color: blue;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  margin-left: 1em;
}*/
/*#downloadButton{
   background-image: url('/images/button-save-image-orange-icon.png');
   width: 100px;
   height: 100px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   bottom: 0px;
 }


 #returnButton {
     background-image: url('/images/button-new-image-turquoise-icon.png');
     width: 100px;
     height: 100px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
    bottom: 0px;
   }

   #backButton {
       background-image: url('/images/button-back-red-icon.png');
       width: 100px;
       height: 100px;
       position: relative;
       margin-left: auto;
       margin-right: auto;
       bottom: 0px;
     }

     #forwardButton {
         background-image: url('/images/button-forward-green-icon.png');
         width: 100px;
         height: 100px;
         position: relative;
         margin-left: auto;
         margin-right: auto;
       }*/
/* ------------------- */
#canvasMixArea {
  background-color: #0f0;
}

#c {
  background-image: url('images/checker.png');
}

#canvasMixArea p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvasMixArea p img {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
